{{- $_ := set . "appName" "userlog" -}}
{{- $_ := set . "resources" (default (default (dict) .Values.resources) .Values.services.userlog.resources) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .appName }}
  namespace: {{ template "ocis.namespace" . }}
  labels:
    {{- include "ocis.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ .appName }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .appName }}
        {{- include "ocis.labels" . | nindent 8 }}
    spec:
      securityContext:
          fsGroup: {{ .Values.securityContext.fsGroup }}
          fsGroupChangePolicy: {{ .Values.securityContext.fsGroupChangePolicy }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .appName }}
          image: {{ template "ocis.image" $ }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["ocis"]
          args: ["userlog", "server"]
          securityContext:
            runAsNonRoot: true
            runAsUser: {{ .Values.securityContext.runAsUser }}
            runAsGroup: {{ .Values.securityContext.runAsGroup }}
            readOnlyRootFilesystem: true
          env:
            - name: MICRO_REGISTRY
              value: kubernetes

            - name: USERLOG_LOG_COLOR
              value: {{ .Values.logging.color | quote }}
            - name: USERLOG_LOG_LEVEL
              value: {{ .Values.logging.level | quote }}
            - name: USERLOG_LOG_PRETTY
              value: {{ .Values.logging.pretty | quote }}

            # - name: USERLOG_DEBUG_PPROF
            #   value: {{ .Values.debug.profiling | quote }}

            - name: USERLOG_HTTP_ADDR
              value: 0.0.0.0:8080
            # - name: USERLOG_DEBUG_ADDR
            #   value: 0.0.0.0:8081

            - name: USERLOG_STORE_TYPE
              value: "mem" # TODO
            # - name: USERLOG_STORE_ADDRESSES
            #   value: "nats:9233" # TODO

            - name: USERLOG_EVENTS_ENDPOINT
            {{- if not .Values.messagingSystem.external.enabled }}
              value: "nats:9233"
            {{- else }}
              value: {{ .Values.messagingSystem.external.endpoint | quote }}
            - name: USERLOG_EVENTS_CLUSTER
              value: {{ .Values.messagingSystem.external.cluster | quote }}
            - name: USERLOG_EVENTS_ENABLE_TLS
              value: {{ .Values.messagingSystem.external.tls.enabled | quote }}
            - name: USERLOG_EVENTS_TLS_INSECURE
              value: {{ .Values.messagingSystem.external.tls.insecure | quote }}
            - name: USERLOG_EVENTS_TLS_ROOT_CA_CERTIFICATE
              {{- if not .Values.messagingSystem.external.tls.certTrusted }}
              value: /etc/ocis/messaging-system-ca/messaging-system-ca.crt
              {{- else }}
              value: "" # no cert needed
              {{- end }}
            {{- end }}

            - name: REVA_GATEWAY
              value: gateway:9142

            - name: USERLOG_MACHINE_AUTH_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.machineAuthApiKeySecretRef }}
                  key: machine-auth-api-key

            - name: USERLOG_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.jwtSecretRef }}
                  key: jwt-secret

          # TODO: This service does not currently provide a debug port, re-enable this once that is implemented
          # See: https://github.com/owncloud/ocis-charts/issues/111
          # livenessProbe:
          #   httpGet:
          #     path: /healthz
          #     port: metrics-debug
          #   timeoutSeconds: 10
          #   initialDelaySeconds: 60
          #   periodSeconds: 20
          #   failureThreshold: 3

          resources: {{ toYaml .resources | nindent 12 }}

          ports:
            - name: http
              containerPort: 8080
            # TODO: This service does not currently provide a debug port, re-enable this once that is implemented
            # - name: metrics-debug
            #   containerPort: 8081

          volumeMounts:
            - name: ocis-config-tmp
              mountPath: /etc/ocis # we mount that volume only to apply fsGroup to that path
            - name: messaging-system-ca
              mountPath: /etc/ocis/messaging-system-ca
              readOnly: true

      volumes:
        - name: ocis-config-tmp
          emptyDir: {}
        - name: messaging-system-ca
          {{ if and (.Values.messagingSystem.external.enabled) (not .Values.messagingSystem.external.tls.certTrusted) }}
          secret:
            secretName: {{ .Values.secretRefs.messagingSystemCaRef }}
          {{ else }}
          emptyDir: {}
          {{ end }}
