{{- if not .Values.messagingSystem.external.enabled }}
{{- include "ocis.appNames" (dict "scope" . "appName" "appNameNats" "appNameSuffix" "") -}}
{{- $_ := set . "resources" (default (default (dict) .Values.resources) .Values.services.nats.resources) -}}
apiVersion: apps/v1
kind: Deployment
{{ include "ocis.metadata" . }}
spec:
  {{- include "ocis.selector" . | nindent 2 }}
  replicas: 1 #TODO: https://github.com/owncloud/ocis-charts/issues/12
  strategy:
    type: Recreate
  template:
    {{- include "ocis.templateMetadata" (dict "scope" $ "configCheck" false) | nindent 4 }}
    spec:
      {{- include "ocis.securityContextAndtopologySpreadConstraints" . | nindent 6 }}
      {{- if and $.Values.services.nats.persistence.enabled $.Values.services.nats.persistence.chownInitContainer }}
      initContainers:
        - name: init-chown-data
          image: busybox
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          command: ["chown", "-R", "{{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsGroup }}", "/var/lib/ocis"]
          volumeMounts:
          - name: nats-data
            mountPath: /var/lib/ocis
      {{ end }}
      containers:
        - name: {{ .appName }}
          image: {{ template "ocis.image" $ }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["ocis"]
          args: ["nats", "server"]
          {{- include "ocis.containerSecurityContext" . | nindent 10 }}
          env:
            - name: NATS_LOG_COLOR
              value: {{ .Values.logging.color | quote }}
            - name: NATS_LOG_LEVEL
              value: {{ .Values.logging.level | quote }}
            - name: NATS_LOG_PRETTY
              value: {{ .Values.logging.pretty | quote }}

            - name: NATS_TRACING_ENABLED
              value: "{{ .Values.tracing.enabled }}"
            - name: NATS_TRACING_TYPE
              value: {{ .Values.tracing.type | quote }}
            - name: NATS_TRACING_ENDPOINT
              value: {{ .Values.tracing.endpoint | quote }}
            - name: NATS_TRACING_COLLECTOR
              value: {{ .Values.tracing.collector | quote }}

            # - name: NATS_DEBUG_PPROF
            #   value: {{ .Values.debug.profiling | quote }}

            - name: NATS_NATS_HOST
              value: "0.0.0.0"
            - name: NATS_NATS_PORT
              value: "9233"

            # - name: NATS_DEBUG_ADDR
            #   value: 0.0.0.0:9234

          livenessProbe:
            # TODO: NATS does not currently provide a debug port, re-enable this once that is implemented
            # See: https://github.com/owncloud/ocis-charts/issues/111
            # httpGet:
            #   path: /healthz
            #   port: metrics-debug
            # until then we're just doing a TCP check on the main port
            tcpSocket:
              port: 9233
            timeoutSeconds: 10
            initialDelaySeconds: 60
            periodSeconds: 20
            failureThreshold: 3

          resources: {{ toYaml .resources | nindent 12 }}

          ports:
            - name: nats
              containerPort: 9233
            # TODO: NATS does not currently provide a debug port, re-enable this once that is implemented
            # - name: metrics-debug
            #   containerPort: 9234

          volumeMounts:
            - name: nats-data
              mountPath: /var/lib/ocis

      {{- include "ocis.imagePullSecrets" $ | nindent 6 }}
      volumes:
        - name: nats-data
          {{ if .Values.services.nats.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .appName }}-data
          {{ else }}
          emptyDir: {}
          {{ end }}
{{- end }}
