{{- if not .Values.messagingSystem.external.enabled }}
{{- include "ocis.appNames" (dict "scope" . "appName" "appNameNats" "appNameSuffix" "") -}}
{{- $_ := set . "resources" (default (default (dict) .Values.resources) .Values.services.nats.resources) -}}
apiVersion: apps/v1
kind: Deployment
{{ include "ocis.metadata" . }}
spec:
  {{- include "ocis.selector" . | nindent 2 }}
  replicas: 1 #TODO: https://github.com/owncloud/ocis-charts/issues/12
  strategy:
    type: Recreate
  template:
    {{- include "ocis.templateMetadata" (dict "scope" $ "configCheck" false) | nindent 4 }}
    spec:
      {{- include "ocis.serviceAccount" . | nindent 6 }}
      {{- include "ocis.affinity" .Values.services.nats | nindent 6 }}
      {{- include "ocis.securityContextAndtopologySpreadConstraints" . | nindent 6 }}
      {{- if and $.Values.services.nats.persistence.enabled $.Values.services.nats.persistence.chownInitContainer }}
      initContainers:
        - name: init-chown-data
          {{- include "ocis.initContainerImage" $ | nindent 10 }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          {{- include "ocis.initChownDataCommand" $ | nindent 10 }}
          volumeMounts:
          - name: nats-data
            mountPath: /var/lib/ocis
      {{ end }}
      containers:
        - name: {{ .appName }}
          {{- include "ocis.image" $ | nindent 10 }}
          command: ["ocis"]
          args: ["nats", "server"]
          {{- include "ocis.containerSecurityContext" . | nindent 10 }}
          env:
            - name: NATS_LOG_COLOR
              value: {{ .Values.logging.color | quote }}
            - name: NATS_LOG_LEVEL
              value: {{ .Values.logging.level | quote }}
            - name: NATS_LOG_PRETTY
              value: {{ .Values.logging.pretty | quote }}

            # Tracing not yet implemented: https://github.com/owncloud/ocis/issues/6174
            # - name: NATS_TRACING_ENABLED
            #   value: "{{ .Values.tracing.enabled }}"
            # - name: NATS_TRACING_TYPE
            #   value: {{ .Values.tracing.type | quote }}
            # - name: NATS_TRACING_ENDPOINT
            #   value: {{ .Values.tracing.endpoint | quote }}
            # - name: NATS_TRACING_COLLECTOR
            #   value: {{ .Values.tracing.collector | quote }}

            - name: NATS_DEBUG_PPROF
              value: {{ .Values.debug.profiling | quote }}

            - name: NATS_NATS_HOST
              value: "0.0.0.0"
            - name: NATS_NATS_PORT
              value: "9233"

            - name: NATS_DEBUG_ADDR
              value: 0.0.0.0:9234

          {{- include "ocis.livenessProbe" . | nindent 10 }}

          resources: {{ toYaml .resources | nindent 12 }}

          ports:
            - name: nats
              containerPort: 9233
            - name: metrics-debug
              containerPort: 9234

          volumeMounts:
            - name: nats-data
              mountPath: /var/lib/ocis

      {{- include "ocis.imagePullSecrets" $ | nindent 6 }}
      volumes:
        - name: nats-data
          {{ if .Values.services.nats.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .appName }}-data
          {{ else }}
          emptyDir: {}
          {{ end }}
{{- end }}
