{{ if and (not .Values.features.externalUserManagement.enabled) (not .Values.secretRefs.idpSecretRef) }}
{{- $params := (dict)}}
{{- $_ := set $params "encryption.key" (randAscii 32) }}
{{- $_ := set $params "private-key.pem" (genPrivateKey "rsa") }}
{{- include "ocis.secret" (dict "scope" . "name" "idp-secrets" "labels" .Values.backup.secretLabels "params" $params)}}
{{- end }}
---
{{ if not .Values.secretRefs.jwtSecretRef }}
{{- $params := (dict)}}
{{- $_ := set $params "jwt-secret" (randAlphaNum 30) }}
{{- include "ocis.secret" (dict "scope" . "name" "jwt-secret" "params" $params)}}
{{- end }}
---
{{ if and (not .Values.features.externalUserManagement.enabled) (not .Values.secretRefs.adminUserSecretRef) }}
{{- $params := (dict)}}
{{- $_ := set $params "user-id" uuidv4 }}
{{- $_ := set $params "password" (randAlphaNum 30) }}
{{- include "ocis.secret" (dict "scope" . "name" "admin-user" "params" $params)}}
{{- end }}
