[submodule "deployments/external-user-management/charts/keycloak-k8s-resources"]
	path = deployments/external-user-management/charts/keycloak-k8s-resources
	url = https://github.com/keycloak/keycloak-k8s-resources.git
	shallow = true
	branch = 25.0.5
