{{- include "ocis.appNames" (dict "scope" . "appName" "appNameStorageSystem" "appNameSuffix" "") -}}
{{- $_ := set . "resources" (default (default (dict) .Values.resources) .Values.services.storagesystem.resources) -}}
apiVersion: apps/v1
kind: Deployment
{{ include "ocis.metadata" . }}
spec:
  {{- include "ocis.selector" . | nindent 2 }}
  {{- if and (not .Values.autoscaling.enabled) (.Values.replicas) }}
  replicas: {{ .Values.replicas }}
  {{- end }}
  {{- include "ocis.deploymentStrategy" . | nindent 2 }}
  template:
    {{- include "ocis.templateMetadata" (dict "scope" $ "configCheck" false) | nindent 4 }}
    spec:
      {{- include "ocis.serviceAccount" . | nindent 6 }}
      {{- include "ocis.affinity" .Values.services.storagesystem | nindent 6 }}
      {{- include "ocis.securityContextAndtopologySpreadConstraints" . | nindent 6 }}
      {{- if and $.Values.services.storagesystem.persistence.enabled $.Values.services.storagesystem.persistence.chownInitContainer }}
      initContainers:
        - name: init-chown-data
          image: busybox
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          command: ["chown", "-R", "{{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsGroup }}", "/var/lib/ocis"]
          volumeMounts:
          - name: storage-system-data
            mountPath: /var/lib/ocis
      {{ end }}
      containers:
        - name: {{ .appName }}
          image: {{ template "ocis.image" $ }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["ocis"]
          args: ["storage-system", "server"]
          {{- include "ocis.containerSecurityContext" . | nindent 10 }}
          env:
            - name: MICRO_REGISTRY
              value: kubernetes

            # logging
            - name: STORAGE_SYSTEM_LOG_COLOR
              value: {{ .Values.logging.color | quote }}
            - name: STORAGE_SYSTEM_LOG_LEVEL
              value: {{ .Values.logging.level | quote }}
            - name: STORAGE_SYSTEM_LOG_PRETTY
              value: {{ .Values.logging.pretty | quote }}

            - name: STORAGE_SYSTEM_TRACING_ENABLED
              value: "{{ .Values.tracing.enabled }}"
            - name: STORAGE_SYSTEM_TRACING_TYPE
              value: {{ .Values.tracing.type | quote }}
            - name: STORAGE_SYSTEM_TRACING_ENDPOINT
              value: {{ .Values.tracing.endpoint | quote }}
            - name: STORAGE_SYSTEM_TRACING_COLLECTOR
              value: {{ .Values.tracing.collector | quote }}

            - name: STORAGE_SYSTEM_DEBUG_PPROF
              value: {{ .Values.debug.profiling | quote }}

            # bind configuration
            - name: STORAGE_SYSTEM_GRPC_ADDR
              value: 0.0.0.0:9215
            - name: STORAGE_SYSTEM_DEBUG_ADDR
              value: 0.0.0.0:9217

            # external availability data gateway
            - name: STORAGE_SYSTEM_HTTP_ADDR
              value: 0.0.0.0:9216
            - name: STORAGE_SYSTEM_DATA_SERVER_URL
              value: http://{{ .appName }}:9216/data

            - name: OCIS_REVA_GATEWAY
              value: com.owncloud.api.gateway

            - name: STORAGE_SYSTEM_DRIVER
              value: ocis
            - name: STORAGE_SYSTEM_OCIS_METADATA_BACKEND
              value: messagepack

            # cache
            - name: STORAGE_SYSTEM_CACHE_STORE
              value: {{ .Values.cache.type | quote }}
            {{- if ne .Values.cache.type "noop" }}
            - name: STORAGE_SYSTEM_CACHE_STORE_NODES
              value: {{ join "," .Values.cache.nodes | quote }}
            {{- end }}

            - name: STORAGE_SYSTEM_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.storagesystemJwtSecretRef }}
                  key: storage-system-jwt-secret

            - name: OCIS_SYSTEM_USER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.storagesystemSecretRef }}
                  key: api-key

            - name: OCIS_SYSTEM_USER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.storagesystemSecretRef }}
                  key: user-id

          {{- include "ocis.livenessProbe" . | nindent 10 }}

          resources: {{ toYaml .resources | nindent 12 }}

          ports:
            - name: grpc
              containerPort: 9215
            - name: http
              containerPort: 9216
            - name: metrics-debug
              containerPort: 9217

          volumeMounts:
            - name: tmp-volume
              mountPath: /tmp
            - name: storage-system-data
              mountPath: /var/lib/ocis

      {{- include "ocis.imagePullSecrets" $ | nindent 6 }}
      volumes:
        - name: tmp-volume
          emptyDir: {}
        - name: storage-system-data
          {{ if .Values.services.storagesystem.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .appName }}-data
          {{ else }}
          emptyDir: {}
          {{ end }}
