{{ if not .Values.secretRefs.storagesystemJwtSecretRef }}
{{- $params := (dict)}}
{{- $_ := set $params "storage-system-jwt-secret" (randAlphaNum 30) }}
{{- include "ocis.secret" (dict "scope" . "name" "storage-system-jwt-secret" "params" $params)}}
{{- end }}
---
{{ if not .Values.secretRefs.storagesystemSecretRef }}
{{- $params := (dict)}}
{{- $_ := set $params "api-key" (randAlphaNum 30) }}
{{- $_ := set $params "user-id" uuidv4 }}
{{- include "ocis.secret" (dict "scope" . "name" "storage-system" "labels" .Values.backup.secretLabels "params" $params)}}
{{- end }}
---
{{ if not .Values.secretRefs.transferSecretSecretRef }}
{{- $params := (dict)}}
{{- $_ := set $params "transfer-secret" (randAlphaNum 30) }}
{{- include "ocis.secret" (dict "scope" . "name" "transfer-secret" "params" $params)}}
{{- end }}
