apiVersion: apps/v1
kind: Deployment
metadata:
  name: ocdav
  namespace: {{ template "ocis.namespace" . }}
  labels:
    {{- include "ocis.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: ocdav
  {{- if and (not .Values.autoscaling.enabled) (.Values.replicas) }}
  replicas: {{ .Values.replicas }}
  {{- end }}
  {{- if .Values.deploymentStrategy }}
  strategy: {{ toYaml .Values.deploymentStrategy | nindent 4 }}
  {{ end }}
  template:
    metadata:
      labels:
        app: ocdav
        {{- include "ocis.labels" . | nindent 8 }}
    spec:
      containers:
        - name: ocdav
          {{- if .Values.image.sha }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}@sha256:{{ .Values.image.sha }}"
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["ocis"]
          args: ["ocdav", "server"]
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            readOnlyRootFilesystem: true
          env:
            - name: OCDAV_LOG_COLOR
              value: "{{ .Values.logging.color }}"
            - name: OCDAV_LOG_LEVEL
              value: "{{ .Values.logging.level }}"
            - name: OCDAV_LOG_PRETTY
              value: "{{ .Values.logging.pretty }}"

            - name: OCDAV_HTTP_ADDR
              value: 0.0.0.0:8080

            - name: OCDAV_PUBLIC_URL
              value: https://{{ .Values.externalDomain }}

            - name: REVA_GATEWAY
              value: gateway:9142

            - name: OCDAV_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.jwtSecretRef }}
                  key: jwt-secret

          resources: {{ toYaml .Values.resources | nindent 12 }}
          ports:
            - name: http
              containerPort: 8080
